# Clerk
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Supabase
SUPABASE_URL=https://bxesqjzkuredqzvepomn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
SUPABASE_SECRET_KEY=sb_secret_...

# SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=onboarding@doblive.co.uk

# App
PORT=3000
NODE_ENV=production
